#--------------------------------
# On ignore 
# - le main compilé
# - les fichiers temporaires
# - les fichiers objets
# - certains répertoires de tests
#--------------------------------
*.o
*.*~
*.autosave
*.bak
WidgetPerso-build-desktop/
Immo-build-desktop/
AgenceImmobiliere-build-desktop/
ListWidget-build-desktop/
src/Qt/Immo/
Tests/ListWidget/

# fichiers .user de Qt
*/*.user
*.user
*.user.*
tests.sql
ENCOURS.txt
src/Qt/AgenceImmobiliere/UI_listeBiens.ui
src/Qt/AgenceImmobiliere/UI_listeSouhaits.ui
settings.xml

