#--------------------------------
# On ignore 
# - le main compilé
# - les fichiers temporaires
# - les fichiers objets
# - 
#--------------------------------
*.o
*.*~
*.autosave
*.bak
WidgetPerso-build-desktop/
Immo-build-desktop/
AgenceImmobiliere-build-desktop/
ListWidget-build-desktop/

# fichiers .user de Qt
*/*.user
*.user
*.user.*
tests.sql
