#--------------------------------
# On ignore 
# - le main compilé
# - les fichiers temporaires
# - les fichiers objets
# - 
#--------------------------------
*.o
*.*~
*.autosave
*.bak
*/WidgetPerso-build-desktop/*

# fichiers .user de Qt
*/*.user
